<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap"
        
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Moirai+One&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta>
    <title>Design System</title>

</head>
<main>
    <header>
        <div class="neon-shadows">Neon Shadows</div>
     
        <li>
            <a>Texto</a> 
        </li>
        <li>
            <a>Texto</a> 
        </li>
        <li>
            <a>Texto</a> 
        </li>
    
    </header>

    <body>
        <h1>Tipografia</h1>
        <h1> Títulos da página </h1>
        <h2 class="txt-bg-dark ">Subtítulo da página</h2>
        <p class=" txt-bg-dark  ">Desvende segredos e escolhas cruciais em Neon Shadows, onde a
            realidade virtual e
            distopia se entrelaçam. Como Enigma, um renegado em busca da utopia, mergulhe na megalópole de Nexus Prime,
            onde a linha entre herói e vilão desaparece. Prepare-se para a revolução digital, onde cada decisão molda o
            destino da cidade. Neon Shadows não é apenas um jogo, é a chave para desvendar o enigma que redefine a
            realidade. Você está pronto para a jornada?</p>
        <h1>Paleta de cores</h1>
        <div class="container">
            <div class="pink color txt-bg-light  container-item  ">#FF2A6D</div>
            <div class="light-blue color txt-bg-light  container-item">#D1F7FF</div>
            <div class="medium-blue color txt-bg-light   container-item" >#05D9E8</div>
            <div class="neon-blue color txt-bg-light  container-item ">#005678</div>
            <div class="dark-blue color txt-bg-dark  container-item "> #01012B</div>

        </div>

        <div>
            <h1>Botões</h1>
            <button class="button btn-active">active</button>
            <button class="button btn-disabled">Inactive</button>
            <button class="button  card-btn-active  txt-bg-dark">Ver Mais</button>
        </div>
        <div>
            <h1>Imagem Habilidades</h1>
            <a><img class="img-habilidades" id="habilidade-acrobata" src="/static/img/home/acrobata_urbano.jpg"
                    title="Acrobata Urbano" onclick="mudaHabilidadeAcrobata()"></a>

        </div>
        <h1>Cards dos Personagens</h1>
        <div class="card-main">
            <div class="card">
                <h1 class="card-title">Nome do character</h1>
                <h2 class="card-subtitle">Tipo</h2>
                <img class="img-card" alt="imagem character" src="/static/img/personagens/atiradora-elite.jpg">
                <p class="card-text">Desvende segredos e escolhas cruciais em Neon Shadows, onde a realidade virtual e
                    distopia se entrelaçam. Como Enigma, um renegado em busca da utopia, mergulhe na megalópole de Nexus
                    Prime, onde a linha entre herói e vilão desaparece. P</p>
                <button class="button  card-btn-active  txt-bg-dark">Ver Mais</button>
            </div>
            <div class="card">
                <h1 class="card-title">Nome do character</h1>
                <h2 class="card-subtitle">Tipo</h2>
                <img class="img-card" alt="imagem character" src="/static/img/personagens/atiradora-elite.jpg">
                <p class="card-text">Desvende segredos e escolhas cruciais em Neon Shadows, onde a realidade virtual e
                    distopia se entrelaçam. Como Enigma, um renegado em busca da utopia, mergulhe na megalópole de Nexus
                    Prime, onde a linha entre herói e vilão desaparece. P</p>
                <button class="button  card-btn-active  txt-bg-dark">Ver Mais</button>
            </div>
            <div class="card">
                <h1 class="card-title">Nome do character</h1>
                <h2 class="card-subtitle">Tipo</h2>
                <img class="img-card" alt="imagem character" src="/static/img/personagens/atiradora-elite.jpg">
                <p class="card-text">Desvende segredos e escolhas cruciais em Neon Shadows, onde a realidade virtual e
                    distopia se entrelaçam. Como Enigma, um renegado em busca da utopia, mergulhe na megalópole de Nexus
                    Prime, onde a linha entre herói e vilão desaparece. P</p>
                <button class="button  card-btn-active  txt-bg-dark">Ver Mais</button>
            </div>
        </div>

        <h1>Tabelas</h1>

        <table id="character">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ocupação</th>
                <th>Força</th>
                <th>Destreza</th>
                <th>Inteligência</th>
                <th>Idade</th>
                <th>Habilidade</th>
                <th>História</th>
                <th>Imagem</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>Ciborgue</td>
                <td>5</td>
                <td>8</td>
                <td>10</td>
                <td>98</td>
                <td>Invisibilidade</td>
                <td>Enigma é um ex-agente de elite do Grupo Aegis, que agora carrega consigo o último fragmento de um
                    código proibido capaz de reescrever a realidade virtual. Sua busca pela Ascensão o coloca no centro
                    de uma luta pelo poder em Nexus Prime, onde segredos sombrios e traições estão em toda parte. Enigma
                    é um enigma para todos, e seu destino é incerto.</td>


                <td><img class="img-table" alt="imagem character" src="/static/img/personagens/atiradora-elite.jpg">
                </td>
                <td><button class="button btn-active">active</button>
                    <button class="button btn-disabled">Inactive</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>Ciborgue</td>
                <td>5</td>
                <td>8</td>
                <td>10</td>
                <td>98</td>
                <td>Invisibilidade</td>
                <td>Enigma é um ex-agente de elite do Grupo Aegis, que agora carrega consigo o último fragmento de um
                    código proibido capaz de reescrever a realidade virtual. Sua busca pela Ascensão o coloca no centro
                    de uma luta pelo poder em Nexus Prime, onde segredos sombrios e traições estão em toda parte. Enigma
                    é um enigma para todos, e seu destino é incerto.</td>


                <td><img class="img-table" alt="imagem character" src="/static/img/personagens/atiradora-elite.jpg">
                </td>
                <td><button class="button btn-active">active</button>
                    <button class="button btn-disabled">Inactive</button>
                </td>
            </tr>

        </table>
        <h1>Textos e imagens</h1>

        <div class="content">
            <div class="content-txt">
        <p class="txt-bg-dark">No ano de 2178, em uma megalópole chamada Nexus Prime, onde os arranha-céus rasgam os céus e a névoa tóxica engole as ruas, ergue-se uma sombra que oculta segredos inimagináveis. Neste mundo distópico onde a linha entre o virtual e o real se dissolveu, surge um renegado conhecido apenas como Enigma.

            Enigma, um ex-agente de elite do Grupo Aegis, carrega consigo o último fragmento de um código proibido, capaz de reescrever o próprio tecido da realidade virtual. Este fragmento é a chave para a Ascensão, uma utopia virtual onde a humanidade pode transcender as limitações da carne e alcançar a mortalidade. Mas as corporações, os senhores do submundo e as facções rebeldes estão todos em busca deste fragmento, dispostos a qualquer sacrifício para assegurar seu poder.</p>
        </div>
        <div class="content-img">
            <img alt="imagem character" src="/static/img/historia/imagem2.jpg">
        </div>
    </div>
    <div class="content">
        <div class="content-img">
            <img alt="imagem character" src="/static/img/historia/imagem1.jpg">
        </div>
        <div class="content-txt">
    <p class="txt-bg-dark">No ano de 2178, em uma megalópole chamada Nexus Prime, onde os arranha-céus rasgam os céus e a névoa tóxica engole as ruas, ergue-se uma sombra que oculta segredos inimagináveis. Neste mundo distópico onde a linha entre o virtual e o real se dissolveu, surge um renegado conhecido apenas como Enigma.

        Enigma, um ex-agente de elite do Grupo Aegis, carrega consigo o último fragmento de um código proibido, capaz de reescrever o próprio tecido da realidade virtual. Este fragmento é a chave para a Ascensão, uma utopia virtual onde a humanidade pode transcender as limitações da carne e alcançar a mortalidade. Mas as corporações, os senhores do submundo e as facções rebeldes estão todos em busca deste fragmento, dispostos a qualquer sacrifício para assegurar seu poder.</p>
    </div>
 
</div>
<div class="bg-img">
<h1>Um texto bem legal aqui 
    No ano de 2178, em uma megalópole chamada Nexus Prime, onde os arranha-céus rasgam os céus e a névoa tóxica engole as ruas, ergue-se uma sombra que oculta segredos inimagináveis. </h1>


</div>

    </body>
</main>

</html>