* {
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}


body {
    background-color: whitesmoke;
    margin: 0;
    color: black;
}

:root {
    --rosa: #E052F2;
    --roxo: #452559;
    --lilas: #532A8C;
    --preto: #0A0A0D;
    --verde: #0D8C75;

}

header,
footer {
    background-color: #452559;
}

footer p,
.nav-link {
    color: whitesmoke
}


section {
    height: 80vh;
}
.form-group label, p{
    color:whitesmoke

}

.table th,
td {
    color: whitesmoke;
    background-color: #0D8C75;
    align-items: center;
}

.table th,
td,
tr {
    color: whitesmoke;
    background-color: #0D8C75;
    align-items: center;
}
.form-label{
  color: whitesmoke; 
}
  
input, a{
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}
