* {
    vertical-align: baseline;
    list-style: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #01012B, #05D9E8);
    margin-top: 4%;
}

/* Video */

#videoHistoria , #videoJogo{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    z-index: 1; 
    margin-top:-30px;
}
footer {
    background-color: #01012B;
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-bottom: 0%;
}
