* {
    vertical-align: baseline;
    list-style: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}





/* Header */
header {
    background-color: #01012B;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    padding-bottom: 10px;
}
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #01012B;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2; 
}
.neon-shadows {
    color: #FF2A6D;
   
    font-weight: 400;
    font-size: 3vmax;
    max-width: 100%;
    display: block;
    margin-left: 2%;
}
.neon-shadows a{
    color: #FF2A6D;
    text-shadow: 1px 3px #05D9E8;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}
.menu-items ul {
    display: flex;
    margin-right: 50px;
  
}
.menu-items a{

    justify-content: space-around;
    margin-right: 20px;
    color:#D1F7FF;
font-size:20px;
    

}





a {
    color: #05D9E8;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    
}

/* Typografia */
/* Títulos */
h1 {
    font-family: "Zen Dots", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #FF2A6D;
    text-shadow: 2px;
    max-width: 100%;
    padding: 10px;
}

/* Sub-títulos */
h2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
}

/* Textos */
p {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

/* Cores */
.txt-bg-dark {
    color: #D1F7FF;
}

.txt-bg-light {
    color: #01012B;
}



.pink {
    background-color: #FF2A6D;
}

.light-blue {
    background-color: #D1F7FF;
}

.neon-blue {
    background-color: #05D9E8;
}

.medium-blue {
    background-color: #005678;
}

.dark-blue {
    background-color: #01012B;
}



footer {
    background-color: #01012B;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 50px;
}
