.index {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-color: black;
}

.video-wrap {}

#bgvid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    z-index: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 1;
}

.txt-box {
    position: absolute;
    top: 50%;
    /* Posicione no centro verticalmente */
    left: 50%;
    /* Posicione no centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Centralize o texto */
    background-color: rgba(0, 0, 0, 0.4);
    /* Cor de fundo preta com transparência */
    color: #ffffff8e;
    /* Cor do texto */
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    z-index: 2;
}

.call {
    background-color: rgba(7, 2, 2, 0.6);
    border-left: 5px solid rgb(174, 0, 255);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
}

.carousel-image {
    height: 100vh;

}

.carousel-item {
    border: 1px solid red;
    height: 80vh;
}