*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-around;

}

section{
    padding: 1%;
    margin-top: 1%;
    display: flex;
    max-height: 25%;
   
}

.texto-home{
    width: 50%;
    margin: 5px;
    border: 2px solid #0D8C75;
    padding: 10px;
    border-radius: 10px;
    background-color:#452559;
    color:whitesmoke;
  
   
   
}
.carousel-home{
   width: 50%;

}

.img-home1 img{
    max-width:500px;
    border-radius: 100%;
    border: 2px solid #0D8C75;


}

.icon-home img{
    max-width:100px;
    border-radius: 100%; 
    flex:block;
    padding: 5px;
    align-items: center;
    
}

button{
    margin:5px;
    color: #452559;
    background-color:var(--verde);
   
   
   
}
h4{
    text-align: center;
}
#img-personagem-home{
    max-width: 500px;
}

.btn{
    background-color:#0D8C75 ;
    color:whitesmoke;
}