* {
    padding: 0;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background-color: #452559;
    color: #fff;
}

.titulo {
    color: #fff;
}

.video_square {
    font-family: "Press Start 2P", cursive;
    position: relative;
    max-width: 1800px; /* ou o tamanho desejado */
    margin: 20px auto;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.texto-sobre-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: #3333339c;
    border-radius: 10px;
    padding: 20px;
    max-width: 70%;
}

.texto-sobre-video h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.texto-sobre-video p {
    font-size: 1.2em;
    margin: 0;
}

.objetivo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.imagem-objetivo {
    width: 25em;
}

.imagem-objetivo img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.texto-objetivo {
    color: #fff;
    width: 50%;
    padding: 0 20px;
    background-color: rgba(161, 161, 161, 0.233);
    border-radius: 12px;
    padding: 10px;
}

body.modo-noturno {
    background-color: #111;
    color: #ddd;
}

.modo-noturno .titulo,
.modo-noturno .texto-sobre-video,
.modo-noturno .texto-objetivo {
    color: #ddd;
}

.modo-noturno .video_square {
    border: 2px solid #ddd;
}

.modo-noturno .video_square .texto-sobre-video {
    background-color: #3333339c;
}

.modo-noturno .objetivo {
    background-color: rgba(161, 161, 161, 0.233);
}
