*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #452559;
}
.titulo{
    color: #fff;
}
.video_square{
    font-family: "Press Start 2P", cursive;
}

.video_square {
    position: relative;
    max-width: 1800px; /* ou o tamanho desejado */
    margin: 20px auto;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.texto-sobre-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: #3333339c;
    border-radius: 10px;
    padding: 20px;
    max-width: 70%;
}

.texto-sobre-video h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.texto-sobre-video p {
    font-size: 1.2em;
    margin: 0;
}



.objetivo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
  }
  .imagem-objetivo{
    width: 25em;
  }
  .imagem-objetivo img {
    width: 100%; /* Garante que a imagem ocupa 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 12px;
  }

  .texto-objetivo {
    color: #fff;
    width: 50%; /* Ajuste conforme necessário */
    padding: 0 20px; /* Adiciona algum espaçamento ao redor do texto */
    background-color: rgba(161, 161, 161, 0.233);
    border-radius: 12px;
    padding: 10px;
  }