.skills-container,
.main-data-container,
.history-container {
    justify-content: space-between;
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    margin: 5%;
}

.skills-container legend,
.main-data-container legend,
.history-container legend {
    color: var(--secondary-color);
    font-family: var(--h2-font);
    padding: 10px;
}

.basic-skills,
.main-data-row {
    display: flex;
    justify-content: space-between;
}

.skill,
.datum {
    width: 30%;
}

.character__image {
    width: 50px;
}