body {
    background-image: linear-gradient(to bottom right, #01012B, #05D9E8);
    margin-top: 4%;
    background-repeat: no-repeat;
}

h1 {
    margin: 80px 5% 5% 5%;
}

.card-main {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 3%;
    margin: 5%;
    width: fit-content;
    margin: 5%;
}

.card {
    height: 600px;
    width: 300px;
    padding: 20px;
    text-align: center;
    color: var(--txt-bg-dark-color);
    border-radius: 20px;
    box-shadow: 3px 3px 10px var(--primary-color);
    margin-bottom: 3%;
    background-color: var(--header-color);
}

.card:hover {
    border: 2px solid var(--primary-color)
}

.container__card-title {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: #FF2A6D;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px;
    font-optical-sizing: auto;
    text-align: center;
    max-width: 100%;
    padding: 3px;
}

.card-subtitle {
    color: #FF2A6D;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    text-align: center;
    min-height: 30px;
    border-top: 1px solid var(--secondary-color);
}

.img-card {
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resumo-texto p {
    width: 200px;
    margin: 0 auto;
    padding: 0;
}

.btn-ver-mais,
.btn-close {
    background-color: var(--secondary-color);
    color: var(--txt-bg-light-color);
    border-radius: 20px;
    border: 10px;
    padding: 10px;
    font-weight: bold;
    margin: 30px auto 0px auto;
}

.btn-ver-mais:hover,
.btn-close:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 30%;
    max-width: 50%;
    height: auto;
    overflow: auto;
    background-color: #D1F7FF;
    border-radius: 10px;
}

.modal-content {
    font-family: "Public Sans", sans-serif;
    color: #005678;
    padding: 30px;
    padding-bottom: 10px;
}

.texto-completo {
    text-align: justify;
}

.btn-close {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}