.personagens {
    background-color: rgb(41, 41, 41);
    background-image: url('../img/personagens/background-personagens.jpg');
    background-size: cover;
}

.card {
    border: 2px solid #0D8C75;
    background-color: #452559;
    color: whitesmoke;
    height: 90%;
    padding:  10px;
  
}

.card-header {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    background-color: #452559;
    

}

.card-title {
    font-weight: 700;
    color:whitesmoke;
}

.card-img-top {
    height: 225px;
    width: 100%;
    display: block;

}

.card-body {
    background-color: #452559;
}

.card-footer {
    background-color: #452559;
    border: none;
    color: whitesmoke;
}

.text-light{
    color:whitesmoke;
}

.modal-content{
    background-color:#452559 ;
}

.modal-body, .modal-title, .modal-header{
    color:whitesmoke;
}


