* {
    vertical-align: baseline;
    list-style: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}
body {
    background-image: linear-gradient(to bottom right, #01012B, #05D9E8);
    margin-top: 4%;
}
#user {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    border-collapse: collapse;
    width: 100%;
}

#user td,
#user th {
    border: 1px solid #D1F7FF;
    color: #D1F7FF;
    vertical-align: middle;
}

#user tr:nth-child(even) {
    background-color: #005678;
}

#user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #01012B;
    color: #D1F7FF;
}


