<!--ADMIN: página que irá permitir o cadastro e edição do personagem-->
{% extends 'base-admin.html' %}
{% block content %}
<div class="align-h1-center">
    <h1>Editar Habilidade</h1>
</div>


<form method="POST" enctype="multipart/form-data" action="" class="needs-validation" data-toggle="validator">
    <link rel="stylesheet" href="/static/css/habilidades.css">

    <div class="form-main">

        <div class="form-items">
            <label for="id">ID:</label>
            <input type="number" class="form-control" id="id" name="id" value="{{ id }}" required>
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ nome }}" required>
            <label for="ocupacao">Descrição:</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="{{ descricao }}" required>
            <div class="btn-form">
                <input type="submit" class="btn-active " name="salvar" value="Salvar">
                <a href="{{url_for('home_habilidade_admin')}}" class="btn-can btn-active">Cancelar</a>
                <input type="submit" class="btn-active" name="excluir" value="Excluir">
            </div>
        </div>

</form>
</div>
{% endblock %}