<!-- //ADMIN: página que irá permitir o cadastro e edição do personagem -->
{% extends 'base-admin.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/usuarios.css">
<div class="align-h1-center">
    <h1>Editar Usuário</h1>
</div>
<div class="form-main">
    <div class="form-items">
        <form method="POST" enctype="multipart/form-data" action="" class="needs-validation" data-toggle="validator">
            <div>
                <label for="imagem">Imagem:</label>

                <input type="text" id="imagem" name="imagem" value="{{ imagem }}">
                {% if imagem %}

                <img src="{{imagem}}" class="img-table">
                {% else %}
                <img src="https://images2.imgbox.com/68/3d/kEhAXnXQ_o.png" class="img-table">

                {% endif %}
            </div>
            <div>
                <label for="id">ID:</label>
                <input type="number" id="id" name="id" value="{{ id }}" required>
            </div>
            <div>
                <div class="id-age"> <label for="idade">Idade:</label>
                    <input type="number" id="idade" name="idade" value="{{ idade }}" required>
                </div>

                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" value="{{ nome }}" required>
                </div>
                <div>
                    <label for="forca">Força:</label>
                    <input type="number" class="range" min="0" max="10" id="forca" name="forca" value="{{ forca }}"
                        required>
                </div>
                <div>
                    <label for="destreza">Destreza:</label>
                    <input type="number" min="0" max="10" class="form-control" id="destreza" name="destreza"
                        value="{{ destreza }}" required>
                </div>
                <div>
                    <label for="inteligencia">Inteligência:</label>
                    <input type="number" class="form-range" min="0" max="10" id="inteligencia" name="inteligencia"
                        value="{{ inteligencia }}" required>
                </div>
                <div>
                    <label for="exampleFormControlSelect1">Ocupação:</label>
                    <select id="ocupacao" name="ocupacao" value="{{ ocupacao }}">
                        <option>Ciborgue</option>
                        <option>Humano</option>
                        <option>Robô</option>
                    </select>
                </div>
                <div>
                    <label for="exampleFormControlSelect1">Habilidade única:</label>
                    <select id="habilidade" name="habilidade" value="{{ habilidade }}">

                        <option>Acrobacia urbana</option>
                        <option>Atirador de elite</option>
                        <option>Engenheiro de Drone</option>
                        <option>Hacker</option>
                        <option>Mestre em combate</option>
                    </select>
                </div>
                <div>
                    <label for="história">História:</label>
                    <textarea class="textarea" id="historia" name="historia">{{ historia }}</textarea>
                </div>

                <div class="btn-form ">
                    <input type="submit" class=" btn-active" name="salvar" value="Salvar">
                    <a href="{{url_for('home_admin')}}" class="btn-can btn-active">Cancelar</a>
                    <input type="submit" class="btn-active" name="excluir" value="Excluir">
                </div>
            </div>


        </form>
    </div>
    {% endblock %}

   