<!--ADMIN: página que irá listar os personagens dando as opções do CRUD-->
{% extends 'base-admin.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/habilidades.css">

<h1>Edição de Habilidade</h1>
<div class="btn-add">
    <td> <a href="{{ url_for('editar_habilidade', id = 0)}}" class="btn-add btn-active">Adicionar Habilidade</a></td>
</div>

<div>
    <table class="table" id="ability">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, nome, descricao in habilidades %}
            <tr>
                <td>{{ id }}</td>
                <td><strong>{{ nome }}</strong></td>
                <td>{{ descricao }}</td>
                <td><a class="btn-active btn-edit" href="{{ url_for('editar_habilidade', id = id)}}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}