<!--ADMIN: página que irá listar os personagens dando as opções do CRUD-->
{% extends 'base-admin.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/listar-personagem-adm.css">
<h1>Edição de Personagens</h1>
<div class="btn-add">
   
    <td> <a href="{{ url_for('editar_personagem', id = 0)}}" class="btn-add btn-active">Adicionar Personagem</a></td>
</div>

<div>
    <table id="character">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ocupação</th>
                <th>Força</th>
                <th>Destreza</th>
                <th>Inteligência</th>
                <th>Idade</th>
                <th>Habilidade</th>
                <th>História</th>
                <th>Imagem</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, nome, ocupacao, forca, destreza, inteligencia, idade, habilidade, historia, imagem in personagens
            %}
            <tr>
                <td>{{ id }}</td>
                <td><strong>{{ nome }}</strong></td>
                <td>{{ ocupacao }}</td>
                <td>{{ forca }}</td>
                <td>{{ destreza }}</td>
                <td>{{ inteligencia }}</td>
                <td>{{ idade }}</td>
                <td>{{ habilidade }}</td>
                <td>{{ historia }}</td>
                <td>
                    {% if imagem %}
                    <img src="{{ imagem }}" alt="thumbnail" class="img-table">
                    {% else %}
                    <img src="https://images2.imgbox.com/68/3d/kEhAXnXQ_o.png" class="img-table" />
                    {% endif %}
                </td>
                <td> <a href="{{ url_for('editar_personagem', id = id)}}" class=" btn-active">Editar</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}