{% extends 'base-admin.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/habilidades.css">
{% endblock %}

{% block content %}

    <h1 class="title">Lista de Habilidades</h1>
    <a href="{{ url_for('editar_habilidade', id = 0)}}" class="btn btn-add">Adicionar Habilidade</a>

    <table class="data__table" id="ability">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, nome, descricao in habilidades %}
                <tr>
                    <td>{{ id }}</td>
                    <td><strong>{{ nome }}</strong></td>
                    <td>{{ descricao }}</td>
                    <td><a class="btn btn-edit" href="{{ url_for('editar_habilidade', id = id)}}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}