* {
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --rosa: #E052F2;
    --roxo: #452559;
    --lilas: #532A8C;
    --preto: #0A0A0D;
    --verde: #0D8C75;
}

header,
footer {
    background-color: var(--roxo);
}

footer p,
.nav-link {
    color: whitesmoke
}


section {
    height: 80vh;
}