.video_square{
    font-family: "Press Start 2P", cursive;
}

.video_square {
    position: relative;
    max-width: 1800px; /* ou o tamanho desejado */
    margin: 20px auto;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.texto-sobre-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: #3333339c;
    border-radius: 10px;
    padding: 20px;
    max-width: 70%;
}

.texto-sobre-video h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.texto-sobre-video p {
    font-size: 1.2em;
    margin: 0;
}