.personagens {
    background-color: rgb(41, 41, 41);
    background-image: url('../img/personagens/background-personagens.jpg');

    background-size: cover;
}

.card {
    box-shadow: 10px 10px 30px rgba(119, 8, 153, 0.7);
    border: none;

}

.card-header {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(38, 5, 70);
}

.card-title {
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(188, 109, 233);
}

.card-img-top {
    height: 225px;
    width: 100%;
    display: block;

}

.card-body {
    background-color: lightgray
}

.card-footer {
    background-color: lightgray;
    border: none;
}