<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap"
    rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Moirai+One&display=swap"
    rel="stylesheet">
  <title>Neon Shadows</title>

  <link rel="stylesheet" href="/static/css/base-admin.css">
</head>

<body>
  <div class="content">

    <div class="menu">
      <div class="neon-shadows"><a href="{{ url_for('home')}}">Neon Shadows</a></div>
      <div class="menu-items">
        <ul>
          <li>
            <h1><a href="{{ url_for('historia') }}">HISTÓRIA</a></h1>
          </li>
          <li>
            <h1><a href="{{ url_for('jogo') }}">JOGO</a></h1>
          </li>
          <li>
            <h1><a href="{{ url_for('exibir_personagens')}}">PERSONAGENS</a></h1>
          </li>
          <li>
            <h1><a href="{{ url_for('home_admin')}}">ADMINISTRAÇÃO</a></h1>
          </li>
        </ul>
      </div>

    </div>
    </header>

    <!--Conteúdo Principal-->
    <main class="container conteudo-principal">{% block content %}{% endblock %}</main>
  </div>
  <!--Rodapé-->
  <footer>
    <div class="footer">
      <p class="txt-bg-dark">© 2023 Company, Inc</p>
    </div>
  </footer>

</body>

</html>