<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neon Shadows</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Moirai+One&display=swap"
    rel="stylesheet">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="menu">
        <div class="neon-shadows">
          <a href="{{ url_for('home')}}">Neon Shadows</a>
        </div>
        <div class="menu-items">
          <ul>
            <li>
              <a href="{{ url_for('historia') }}">HISTÓRIA</a>
            </li>
            <li>
              <a href="{{ url_for('jogo') }}">JOGO</a>
            </li>
            <li>
              <a href="{{ url_for('exibir_personagens')}}">PERSONAGENS</a>
            </li>
            <li>
              <a href="{{ url_for('home_admin')}}">ADMINISTRAÇÃO</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main>
      {% block public_content %}{% endblock %}
    </main>

    <footer>
      <div>
        <p class="txt-bg-dark">© 2024 Team 3 - Korú</p>
      </div>
    </footer>

    <script src="/static/js/home.js"></script>
  </body>
</html>