<!DOCTYPE html>
<html lang="pt-BR">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap"
  rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Moirai+One&display=swap"
  rel="stylesheet">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta>
<title>Neon Shadows</title>
<link rel="stylesheet" href="../static/css/geral.css">
</head>
<!-- <header>
  <div class="neon-shadows">Neon Shadows</div>
 
      <div class="menu">
        <button  type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
          aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    
        </button>
        <div>
          <ul>
            <li>
              <a href="{{ url_for('historia') }}">HISTÓRIA</a>
            </li>
            <li>
              <a href="{{ url_for('jogo') }}">JOGO</a>
            </li>
            <li>
              <a href="{{ url_for('exibir_personagens')}}">PERSONAGENS</a>
            </li>
            <li>
              <a href="{{ url_for('home_admin')}}">ADMINISTRAÇÃO</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->

<div class="menu">
  <div class="neon-shadows"><a href="{{ url_for('home')}}">Neon Shadows</a></div>
  <div class="menu-items">
    <ul>
      <li>
        <h1><a href="{{ url_for('historia') }}">HISTÓRIA</a></h1>
      </li>
      <li>
        <h1><a href="{{ url_for('jogo') }}">JOGO</a></h1>
      </li>
      <li>
        <h1><a href="{{ url_for('exibir_personagens')}}">PERSONAGENS</a></h1>
      </li>
      <li>
        <h1><a href="{{ url_for('home_admin')}}">ADMINISTRAÇÃO</a></h1>
      </li>
    </ul>
  </div>

</div>
</header>

<body>


  <main>{% block public_content %}{% endblock %}</main>
  <script src="/static/js/home.js"></script>

  <!--Rodapé-->
  <footer>
    <div>
      <p class="txt-bg-dark">© 2024 Team 3 - Korú</p>
    </div>
  </footer>




</body>

</html>