{% extends 'base-public.html'%}

{% block styles %}
    <link rel="stylesheet" href="/static/css/historia.css">
{% endblock %}

{% block public_content %}
    <div class="banner__history">
        <video src="/static/videos/video-jogo.mp4" type="video/mp4" id="videoHistoria"  autoplay loop muted>
        </video>
        <h1>A história de Neon Shadows</h1>
    </div>
    <div class="parallax">
        <h2>O fragmento</h2>
    </div>
    <section class="history">
        <div class="history__text txt-bg-dark">
            <p>
                No ano de 2178, em uma megalópole chamada Nexus Prime, onde os arranha-céus rasgam os céus e a névoa tóxica engole as ruas, ergue-se uma sombra que oculta segredos inimagináveis. Neste mundo distópico onde a linha entre o virtual e o real se dissolveu, surge um renegado conhecido apenas como Enigma.
            </p>
            <p>
                Enigma, um ex-agente de elite do Grupo Aegis, carrega consigo o último fragmento de um código proibido, capaz de reescrever o próprio tecido da realidade virtual. Este fragmento é a chave para a Ascensão, uma utopia virtual onde a humanidade pode transcender as limitações da carne e alcançar a mortalidade. Mas as corporações, os senhores do submundo e as facções rebeldes estão todos em busca deste fragmento, dispostos a qualquer sacrifício para assegurar seu poder.
            </p>
        </div>
        <div class="history__image">
            <img src="/static/img/historia/imagem26.jpg">
        </div>
    </section>
    <div class="parallax">
        <h2>A jornada</h2>
    </div>
    <section class="history">
        <div class="history__image"> 
            <img src="/static/img/historia/imagem25.jpg">
        </div>
        <div class="history__text txt-bg-dark">
            <p>
                Enigma, movido por um passado obscuro e pela promessa de um futuro incerto, embarca em uma jornada perigosa através das entranhas da megalópole, onde cada esquina esconde ameaças mortais e alianças inesperadas. No coração deste mundo cibernético corrompido, Enigma enfrentará escolhas que moldarão não apenas seu destino, mas o destino de toda a humanidade. 
            </p>
            <p>
                Em Neon Shadows, a linha entre herói e vilão é tão fina quanto um fio de fibra ótica, e a verdade é tão elusiva quanto a própria realidade. Prepare-se para mergulhar nas profundezas do caos digital, onde segredos sombrios e traições enredam-se numa dança perigosa. A jornada de Enigma será uma busca pela verdade, uma corrida contra o tempo e uma batalha pela sobrevivência num mundo onde as sombras escondem mais do que os olhos podem ver. A revolução aguarda, e o destino de Nexus Prime está nas mãos de um único enigma: você.
            </p>
        </div>
    </section>
    <div class="parallax"></div>
    <script src="/static/js/home.js"></script>
{% endblock %}