{% extends 'base-public.html'%}
{% block public_content %}

<!-- fonts do google -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<div>
<!-- <div class="banner-container">
    <video id="video-jogo" autoplay loop muted>
        <source src="/static/videos/video-home.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> 


</div>-->

    <img class="img-ng-jogo" src="../../static/img/jogo/imagem7.jpg">
    <div class="video-text">
        <p id="typing-text-jogo"></p>
    </div>
    <div class="video-text">
        <p id="typing-text-jogo2"></p>
    </div>
    <div class="video-text">
        <p id="typing-text-jogo3"></p>
    </div>

</div>



<!-- <div>
    <img src="../../static/img/home/carrossel2.jpg" alt="Imagem de uma esquina com luzes azul e rosa">
    <h2 class="txt-bg-dark">No ano de 2150, a Metrópole 23 está à beira do colapso. As megacorporações expandiram seu domínio, explorando a
        linha tênue entre o real e o virtual. O controle exercido pelas empresas é opressivo, e a população vive sob
        constante vigilância. A Neuromatrix, uma rede onipresente que conecta todos os aspectos da vida, tornou-se a
        ferramenta definitiva de controle.
        Você é um hacker renegado, conhecido como "Cipher", cuja missão é romper os grilhões da Neuromatrix e libertar a
        Metrópole 23 da opressão corporativa. Ao longo do jogo, você desvendará segredos sombrios, enfrentará inimigos
        implacáveis e mergulhará em mundos virtuais perigosos para desafiar a ordem estabelecida.</h2>
</div>

<div>
     <img src="../../static/img/home/carrossel4.jpg" alt="Imagem de uma esquina com luzes azul e rosa"> 
    <h2 class="txt-bg-dark">Navegue pelos distritos sombrios da Metrópole 23, repletos de arranha-céus futuristas, becos escuros e segredos
        ocultos. A cidade é um playground vasto, oferecendo missões secundárias, encontros com personagens intrigantes e
        oportunidades para desvendar a verdade por trás das corporações.
        Desenvolva as habilidades de hacking de Cipher para invadir sistemas de segurança, manipular dispositivos
        eletrônicos e desbloquear áreas restritas. Aprimore implantes cibernéticos para ganhar vantagens táticas sobre
        inimigos e acessar áreas secretas.</p>
</div>

<div>
     <img src="../../static/img/home/carrossel3.jpg" alt="Imagem de uma esquina com luzes azul e rosa"> 
    <h2 class="txt-bg-dark ">Dedique tempo ao treinamento de habilidades de hacking em ambientes simulados. Aperfeiçoe
        suas técnicas de
        invasão, aprenda a contornar firewalls avançados e melhore a eficácia dos seus ataques virtuais.
        Explore o mercado negro de melhorias cibernéticas. Invista em novos implantes para desbloquear habilidades
        especiais, como visão noturna, reflexos aprimorados ou até mesmo a capacidade de acessar áreas restritas sem ser
        detectado.</h2>
</div> -->

<script src="../../static/js/jogo.js"></script>
<link rel="stylesheet" href="/static/css/jogo.css">

</div>

{% endblock %}