{% extends 'base-public.html'%} 
{% block public_content %}
<link rel="stylesheet" href="../../static/css/jogo.css">

<!-- fonts do google -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<div class="container">
    <h1 class="titulo"> Jogo</h1>
    <div class="video_square">
        <div> <video autoplay loop src="../../static/videos/video-home.mp4"></video>
        </video></div>
        <div class="texto-sobre-video">
            <h2>Aqui você vai descobrir como jogar</h2>
            <p>Em um futuro distópico, mergulhe em um jogo futurista onde a realidade virtual 
                se entrelaça com o mundo físico.</p>
        </div> 
    </div>
    <div class="objetivo">
        <div class="imagem-objetivo"><img src="../../static/img/home/carrossel2.jpg" alt="Imagem de uma esquina com luzes  azul e rosa"></div>
        <div class="texto-objetivo"><p>No ano de 2150, a Metrópole 23 está à beira do colapso. 
            As megacorporações expandiram seu domínio, explorando a linha tênue entre o real e o virtual. 
            O controle exercido pelas empresas é opressivo, e a população vive sob constante vigilância. 
            A Neuromatrix, uma rede onipresente que conecta todos os aspectos da vida, 
            tornou-se a ferramenta definitiva de controle.</p> 

            <p>Você é um hacker renegado, conhecido como "Cipher", cuja missão é romper os grilhões 
            da Neuromatrix e libertar a Metrópole 23 da opressão corporativa. Ao longo do jogo, 
            você desvendará segredos sombrios, enfrentará inimigos implacáveis e mergulhará em 
            mundos virtuais perigosos para desafiar a ordem estabelecida.</p></div>
    </div>
    <div class="objetivo">
        <div class="imagem-objetivo"><img src="../../static/img/home/carrossel4.jpg" alt="Imagem de uma esquina com luzes  azul e rosa"></div>
        <div class="texto-objetivo"><p>Navegue pelos distritos sombrios da Metrópole 23, 
            repletos de arranha-céus futuristas, becos escuros e segredos ocultos. 
            A cidade é um playground vasto, oferecendo missões secundárias, encontros 
            com personagens intrigantes e oportunidades para desvendar a verdade por trás 
            das corporações.</p>
        
            <p> Desenvolva as habilidades de hacking de Cipher para invadir sistemas de 
            segurança, manipular dispositivos eletrônicos e desbloquear áreas restritas. 
            Aprimore implantes cibernéticos para ganhar vantagens táticas sobre inimigos e 
            acessar áreas secretas.</p></div>
    </div>
    <div class="objetivo">
        <div class="imagem-objetivo"><img src="../../static/img/home/carrossel3.jpg" alt="Imagem de uma esquina com luzes  azul e rosa"></div>
        <div class="texto-objetivo"><p>Dedique tempo ao treinamento de habilidades de hacking 
            em ambientes simulados. Aperfeiçoe suas técnicas de invasão, aprenda a contornar 
            firewalls avançados e melhore a eficácia dos seus ataques virtuais.</p>
        
            <p>Explore o mercado negro de melhorias cibernéticas. 
            Invista em novos implantes para desbloquear habilidades especiais, 
            como visão noturna, reflexos aprimorados ou até mesmo a capacidade de acessar 
            áreas restritas sem ser detectado.</p></div>
    </div>
    <div class="container">
        <button id="modoNoturnoBtn">Ativar Modo Noturno</button>
    </div>
    <script src="../../static/js/jogo.js"></script>
</div>

{% endblock %}