{% extends 'base-public.html'%} 
{% block public_content %}
<link rel="stylesheet" href="../../static/css/jogo.css">

<!-- fonts do google -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<div class="container">
    <h1> Jogo</h1>
    <div class="video_square">
        <div> <video autoplay loop src="../../static/videos/video-home.mp4"></video>
        </video></div>
        <div class="texto-sobre-video">
            <h2>Aqui você vai descobrir como jogar</h2>
            <p>Em um futuro distópico, mergulhe em um jogo futurista onde a realidade virtual 
                se entrelaça com o mundo físico.</p>
        </div> 
    </div>
</div>

{% endblock %}