<!--PUBLIC: Página que irá listar os personagens- APENAS LEITURA -->
{% extends 'base-public.html' %}

{% block styles %}
    <!-- Adicione seus estilos aqui, se necessário -->
{% endblock %}

{% block public_content %}
    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for id, nome, classe, forca, destreza, inteligencia, idade, habilidade, historia, imagem in personagens %}
                    {% set historia_resumida = "historia" if historia|length < 100 else historia[:100] ~ '...' %}
                    <div class="col-md-4">
                        <div class="card mb-5">
                            <div class="card-header text-light">
                                <h4 class="card-title">{{ nome }}</h4>
                                <p class="card-subtitle">{{ classe }}</p>
                            </div>
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="{{ imagem }}">
                            <div class="card-body">
                                <p class="card-text">{{ historia_resumida }}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <a href="#" class="btn">Ver detalhes</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
