<!--PUBLIC: Página que irá listar os personagens- APENAS LEITURA -->
{% extends 'base-public.html'%} 

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/personagens.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
{% endblock %}

{% block public_content %}
<div class="personagens">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Lista de Personagens</h1>
            <p class="lead text-muted">Algo curto e direto, sobre a coleção abaixo (conteúdo, criador e etc). Faça com que seja curto e legal, mas não tão curto ao ponto de as pessoas pularem ele.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Call-to-action principal</a>
                <a href="#" class="btn btn-secondary my-2">Call-to-action secundário</a>
            </p>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row">
                {% for id, nome, classe, forca, destreza, inteligencia, idade, habilidade, historia, imagem in personagens %}
                <div class="col-md-4">
                    <div class="card mb-5 ">
                        <div class="card-header text-light">
                            <h4 class="card-title">{{ nome }}</h4>
                            <p class="card-subtitle">{{ classe }}</p>
                        </div>
                        <img class="card-img-top" alt="Thumbnail [100%x225]" src="{{ imagem }}">

                        {% set historia = "história" if  "história"|length <= 100 else personagem['história'][:100] ~ '...' %}

                        <div class="card-body">
                            <p class="card-text">{{historia}}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <a href="#" class="btn btn-sm btn-outline-secondary ">VER DETALHES</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}